
<div class="row main p-4 p-md-3">

  
  <div class="container py-5 mt-3 mb-5">
  
      
      <div class="container">
          <h3>Agregar Producto</h3>
          <form >
          
    
              <div class="form-row">
              
               <div class="form-group col-md-5">
                  <label>Nombre</label>
                  <div class="d-flex">
                    <input type="string" class="form-control" id="nombre" required [(ngModel)]="model.nombre" name="nombre">
                  </div>
                </div>
                
                <div class="form-group col-md-5">
                    <label> Descripcion</label>
                    <div class="d-flex">
                    <input type="string" class="form-control" id="descripcion" required
                     [(ngModel)]="model.descripcion" name="descripcion">
                    
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                      <label> Cantidad</label>
                      <div class="d-flex">
                      <input type="string" class="form-control" id="cantidad" required
                       [(ngModel)]="model.cantidad" name="cantidad">
                       
                      </div>
                    </div>

                    <div class="form-group col-md-5">
                        <label> Precio</label>
                        <div class="d-flex">
                        <input type="string" class="form-control" id="precio" required
                         [(ngModel)]="model.precio" name="precio">
                         
                        </div>
                      </div>

                    <div class="form-group col-md-5">
                        <label> Foto</label>
                        <div class="d-flex">
                        <input type="string" class="form-control" id="foto" required
                         [(ngModel)]="model.foto" name="foto">
                         
                        </div>
                      </div>


                </div>
          

           

      
      
       
            
        
          <button  type="button"   (click)="Registrar(model.nombre,model.descripcion,model.cantidad,model.precio,model.foto)" class="btn btn-outline-dark">Agregar</button>
                
            
          </form>
          
      </div>
      
    
        
  </div>
</div>